body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    user-select: none;
}

#game-container {
    position: relative;
    width: 1280px; 
    height: 640px;
    box-shadow: 0 0 100px rgba(0, 150, 255, 0.2);
    border: 4px solid #333;
    background-color: #000;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* --- HUD & UI --- */
#hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicking through the HUD to the game */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

#progress-container {
    width: 400px;
    height: 12px;
    background: rgba(0,0,0,0.8);
    border: 2px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}

#progress-fill {
    width: 0%;
    height: 100%;
    background: #00ff40;
    box-shadow: 0 0 10px #00ff40;
    transition: width 0.1s linear;
}

#attempt-display {
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 2px 2px #000;
}

#mode-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --- MENUS --- */
#main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,10,30,0.9));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.logo {
    color: white;
    font-size: 70px;
    text-shadow: 0 0 20px #0099ff;
    margin-bottom: 30px;
    font-weight: 900;
}

.level-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.lvl-btn {
    background: #151515;
    border: 2px solid #444;
    color: white;
    padding: 25px;
    width: 320px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lvl-btn:hover {
    border-color: #00ffff;
    background: #1a1a1a;
    transform: scale(1.02);
}

/* --- SPECIAL EFFECTS --- */
#crash-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.flash-active {
    opacity: 0.8 !important;
    transition: none !important;
}
